.reccom {
  position: relative;
}

.reccom-label {
  background-color: #fff;
  left: 50%;
  padding: 0 4px;
  position: absolute;
  top: calc(0px - 0.3rem);
  transform: translateX(-50%);
  z-index: 1;
}

.reccom-label-text {
  background-color: #aad700;
  color: #092a5e;
  font-weight: 700;
  padding: 0 24px;
  text-transform: uppercase;
}
